# Angular build outputs
dist/
out-tsc/
tmp/
bazel-out/

# Angular cache
.angular/cache/

# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-error.log*
*.log

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project


# System files
Thumbs.db
*.DS_Store
